body {
  font-family: Helvetica;
  text-align: center;
}
  
main {
  color: Gray;
}

header {
  background-image: url("/broadway/resources/images/the-flatiron-building.png");
  color: white;
  font-size: 18px;
}

footer {
  background-color: dimgray;
  color: white;
  text-align: left;
}

h1, h2, h3 {
  font-weight: bold;
}

header h1 {
  font-size: 70px;
}

header a {
  color: white;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 23px;
}

body p {
  font-size: 14px;
}

h3.banner {
  background-image: url("/resources/images/the-flatiron-building.png");
  color : white;
}

.copyright {
  font-size: 11px;
}
